html {
    scroll-behavior: smooth;
    font-family:Georgia,Myriad-Roman,AdobeInvisFont;
    overflow-x: hidden;
}


body {
    margin: 0px;
    overflow-x: hidden;
    
}
.nav {
    margin: 10px 5px;
    
}


.nav a:hover {
    background-color: #666666;
    border-color: white;
}



.navbar {
    background-color: #2D2928;
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 12px 35px;
    color: #C4C4C4;
    
    
}

.nav {
    display: flex;
    list-style: none;
    
}

.nav a {
    padding: 0px 5px;
    text-decoration: none;
    color: #C4C4C4;
   
}

.search-bar{
    position: absolute;  
    right: 1.5%;  
    top: 1.5%;
    display: inline-block;
}
.search-bar input{
    padding: 3px 10px;
    border-color: #2e3f51;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #666666;
    height: 26px;
}
.search-bar img{
    width: 10px;
    height: 10px;
    right: 5%;
    top: 10%;
    background-color: #2D2928;
    padding: 8px;
    border-radius: 45%;
    position: absolute;
}

.columnist {
     display: inline-block;
}

.columnist h1 {
    background-color: #FFFFFF;
    padding: 0px 20px;
    margin: 35px 0 0 0;
    font-size: 46px;
    font-weight: 500;
    color: #666666;
}
.columnist img {
    position: absolute;
    top: 110px; 
    right:20px;
}

.letterC {
    font-size: 130%;
    margin-left: 20px;
}

.columnist p{
    font-size:12;
    font-weight: 0;
    color: #999999;
    padding: 0px 20px;
    margin:0px 0px 35px 25px;
}

.menyja {
    width:100%;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 0px 25px;
    color: #C4C4C4;
}

.menyja a {
    text-decoration: none;
    color: #666666;
    padding: 0px 14px;
    
}

#topstory {
    padding: 35px 0 100px 0;
    margin-bottom:20px;
}
#topstory img{
  float: left;
  background: #555;
}
#topstory h1 {
  padding-top:40px;
  padding-right: 45px;
  text-align:left;
  margin: 20px;   
  font-size:56px;
  color:#666666;
  display: inline-block;
  weight:323px;
  height:98px;
  
}
#topstory img{
    margin:12px 40px;
}
#topstory p {
    font-size:16px;
    text-align:left;
    display:inline-block;
    width:348px;
    height:82px;
    margin:25px 25px 0 25px;
    color:#666666;
}
#readmore {
    float:left;
    margin-top:10px;
}
#readmore a {
    
    text-decoration: none;
    color: #FF9900;
}
.columns{
    margin: 40px;
    width:100%;
    position: relative;
    column-count: 3;
}

.box1{
    position: relative;
    width:300px;
}
/* stilizimi i tekstit*/
.style1{
    font-size: 18px;
    line-height: 22px;
}
/* stilizimi i dates*/
.style2{
    color: #989898;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i "Read more"*/
.style3{
    text-decoration: none;
    color: orange;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i kornizes*/
.korniza{
    margin: 8px 0 0;
    padding: 1px 0;
    position:relative;
    background: #e1e1e1;
}
.ngjyra_kornizes{
    margin: 0 auto;
    padding: 9px 0;
    position: relative;
    width: 298px;
    background: #ffffff;
}
/* stilizimi i storjes*/
.img{
    height: 380px;
    margin: 0 auto;
    width: 280px;
    background: #333333
}
.box2{
    margin: 26px 0 0;
    position: relative;
}
.story2{
    height: 340px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.box3{
    position: relative;
    width: 300px;
}


.story3{
    height: 320px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.box4{
    margin: 26px 0 0;
    position: relative;

}
.story4{
    height: 380px;
    margin: 0 auto;
    width: 280px;
    background: #333333;

}
.box5{
    position: relative;
    width: 300px;
}

.story5{
    height: 220px;
    margin: 0 auto;
    width:280px;
    background: #333333;
}
.box6{
    margin: 26px 0 0;
    position: relative;
}

.story6{
    height:530px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.footeri{
    padding: 1px 0 26px;
    position: relative;
    background: #232323;
}

.row{
    display: table;
    margin: 23px auto 0;
    position: relative;
}

#text-1{
    display: inline-block;
    color: #919191;
}
#text-2{
    display: inline-block;
    margin: 0 0 0 480px;
    color: #919191;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    padding:0 20px;
}

.col-container h2{
    color:#666666;
    
}
.col-container a{
    text-decoration:none;
    color:#FF9900;
    font-family:Verdana,Myriad-Roman,AdobeInvisFont;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    
}
.rrethNesh{
    background-color: #FFFFFF;
    padding: 20px 20px;
    margin: 35px 180px 0 100px;
    font-size: 20px;
    color: #666666; 
    font-family: 'Verdana',sans-serif;
}
/*.permbajtjaRRethNesh{
    padding: 5px 5px;
    margin: 10px 10px;
}*/
