html {
    scroll-behavior: smooth;
    font-family:Georgia,Myriad-Roman,AdobeInvisFont;
    overflow-x: hidden;
}


body {
    margin: 0px;
    overflow-x: hidden;
    
}
.nav {
    margin: 10px 5px;
}


.nav a:hover {
    background-color: #666666;
    border-color: white;
}


.navbar {
    background-color: #2D2928;
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 12px 35px;
    color: #C4C4C4;
}

.nav {
    display: flex;
    list-style: none;
    
}

.nav a {
    padding: 0px 5px;
    text-decoration: none;
    color: #C4C4C4;
   
}



.searchForm {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}
.searchButton {
    position:absolute;
    right:10px;
    top:14px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
}

.searchBar {
    background-color: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 50px;
    
}

.searchImg {
    position:absolute;
    right:1px;
    top:2px;
    height: 12px;
    width: 12px;
        
}

.searchForm {
    float: right;
    width: 23%;
    background-color: #FFFFFF;
    padding:0 5px 0 0;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.secondaryBar {
    padding: 1.9em 1.2em;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #fff;
}

.columnist {
     display: inline-block;
}

.columnist h1 {
    background-color: #FFFFFF;
    padding: 0px 20px;
    margin: 35px 0 0 0;
    font-size: 46px;
    font-weight: 500;
    color: #666666;
}
.columnist img {
    position: absolute;
    top: 110px; 
    right:20px;
}

.letterC {
    font-size: 130%;
    margin-left: 20px;
}

.columnist p{
    font-size:12;
    font-weight: 0;
    color: #999999;
    padding: 0px 20px;
    margin:0px 0px 35px 25px;
}

.menyja {
    width:100%
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 0px 20px;
    color: #C4C4C4;
}

.menyja a {
    text-decoration: none;
    color: #666666;
    padding: 0px 14px;
    
}

.topstory {
    padding: 35px 0 100px 0;
    margin-bottom:100px;
}
.topstory img{
  float: left;
  background: #555;
}
.topstory h1 {
  padding-top:40px;
  padding-right: 45px;
  text-align:center;
  margin: 20px;   
  font-size:56px;
  text-align: center;
  color:#666666;
}
.topstory img{
    margin:12px 40px;
}
.topstory p {
    font-size:16px;
    margin: 50px 20px 20px 40px;
}
#readmore {
    float:left;
    margin: 0 0 50px 0;
}
#readmore a {
    
    text-decoration: none;
    color: #FF9900;
}
.columns{
    margin: 40px;
    width:100%;
    position: relative;
    column-count: 3;
}

.box1{
    position: relative;
    width:300px;
}
/* stilizimi i tekstit*/
.style1{
    font-size: 18px;
    line-height: 22px;
}
/* stilizimi i dates*/
.style2{
    color: #989898;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i "Read more"*/
.style3{
    text-decoration: none;
    color: orange;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i kornizes*/
.korniza{
    margin: 8px 0 0;
    padding: 1px 0;
    position:relative;
    background: #e1e1e1;
}
.ngjyra_kornizes{
    margin: 0 auto;
    padding: 9px 0;
    position: relative;
    width: 298px;
    background: #ffffff;
}
/* stilizimi i storjes*/
.img{
    height: 380px;
    margin: 0 auto;
    width: 280px;
    background: #333333
}
.box2{
    margin: 26px 0 0;
    position: relative;
}
.story2{
    height: 340px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.box3{
    position: relative;
    width: 300px;
}


.story3{
    height: 320px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.box4{
    margin: 26px 0 0;
    position: relative;

}
.story4{
    height: 380px;
    margin: 0 auto;
    width: 280px;
    background: #333333;

}
.box5{
    position: relative;
    width: 300px;
}

.story5{
    height: 220px;
    margin: 0 auto;
    width:280px;
    background: #333333;
}
.box6{
    margin: 26px 0 0;
    position: relative;
}

.story6{
    height:530px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
.footeri{
    padding: 1px 0 26px;
    position: relative;
    background: #232323;
}

.row{
    display: table;
    margin: 23px auto 0;
    position: relative;
}

#text-1{
    display: inline-block;
    color: #919191;
}
#text-2{
    display: inline-block;
    margin: 0 0 0 480px;
    color: #919191;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    padding:0 20px;
}

.col-container h2{
    color:#666666;
    
}
.col-container a{
    text-decoration:none;
    color:#FF9900;
    font-family:Verdana,Myriad-Roman,AdobeInvisFont;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    
}
