html {
    scroll-behavior: smooth;
    font-family:Georgia,Myriad-Roman,AdobeInvisFont;
    overflow-x: hidden;
}


body {
    margin: 0px;
    overflow-x: hidden;
    
}
.nav {
    margin: 10px 5px;
}


.nav a:hover {
    background-color: #666666;
    border-color: white;
}


.navbar {
    background-color: #2D2928;
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 12px 35px;
    color: #C4C4C4;
}

.nav {
    display: flex;
    list-style: none;
    
}

.nav a {
    padding: 0px 5px;
    text-decoration: none;
    color: #C4C4C4;
   
}



.searchForm {
    background-color: #FFFFFF;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}

.searchBar {
    background-color: #FFFFFF;
    height: 20px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}

.searchButton {
    background-color: #2D2928;
    border: 1px solid #2D2928;
    border-radius: 50%;
    height: 25px;
    margin-bottom: 10px;
    padding-top: 4px;
    margin-top: 3px;
}

.searchImg {
    filter: invert(100%);
    height: 15px;
    width: 15px
        
}

.searchForm {
    float: right;
    width: 23%;
}

.secondaryBar {
    padding: 1.9em 1.2em;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #fff;
}

.columnist {
     display: inline-block;
}

.columnist h1 {
    background-color: #FFFFFF;
    padding: 0px 20px;
    margin: 0px;
    margin-top: 35px;
    font-size: 46px;
    font-weight: 500;
    color: #666666;
}
.columnist img {
    position: absolute;
    top: 110px; 
    right:20px;
}

.letterC {
    font-size: 130%;
    margin-left: 20px;
}

.columnist p{
    font-size:12;
    font-weight: 0;
    color: #999999;
    padding: 0px 20px;
    margin:0px 0px 35px 25px;
}

.menyja {
   
    display: grid;
    grid-template-columns: 50% 50%;
    text-decoration: none;
    padding: 0px 20px;
    color: #C4C4C4;
}

.menyja a {
    text-decoration: none;
    color: #666666;
    padding: 0px 14px;
    
}

.topstory {
    padding: 35px 0px;
}
.topstory img{
  float: left;
  background: #555;
}
.topstory h1 {
  position: relative;
  top: 50px;
  left: 10px;
  margin: 20px;    
  font-size:84px;
  text-align: center;
  color:#666666;
}
.topstory p {
    position: relative;
    top: 5px;
    left: 290px;
    font-size:24px;
    padding: 10px 550px;
}
#readmore {
    position:relative;
    left:0px;
}
#readmore a {
    color: #FF9900;
    position:relative;
    left: 290px;
    text-decoration: none;
}
.columns{
    margin: 40px 0 0;
    position: relative;
}

.box1{
    position: relative;
    width:300px;
    margin: 40px;
}
/* stilizimi i tekstit*/
.style1{
    font-size: 18px;
    line-height: 22px;
}
/* stilizimi i dates*/
.style2{
    color: #989898;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i "Read Full Story"*/
.style3{
    color: orange;
    font-size: 12px;
    line-height: 17px;
}
/*stilizimi i kornizes*/
.korniza{
    margin: 8px 0 0;
    padding: 1px 0;
    position:relative;
    background: #e1e1e1;
}
.korniza_color{
    margin: 0 auto;
    padding: 9px 0;
    position: relative;
    width: 298px;
    background: #ffffff;
}
/* stilizimi i storjes*/
.story1{
    height: 380px;
    margin: 0 auto;
    width: 280px;
    background: #333333
}
.box2{
    margin: 40px 0 0;
    position: relative;
    
}

.story2{
    height: 340px;
    margin: 0 auto;
    width: 280px;
    background: #333333;
}
